@import "../../../default_variables.scss";

.section {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 13px 30px;
    z-index: 10;
    
    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btns {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
        justify-content: center;
        align-items: center;
        a {
            color: $black;
        }
    }
}

.fill-empty-place {
    height: calc(45px + 13px +  13px); // height of block + padding top and bottom 
}



@media(max-width: 1200px) {
    .btns {
        grid-column-gap: 0px;
    }
}